<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Registration</title>
    
</head>
<body>
    <nav>
        <ul>
        <li id="item-1" class="nav-items"><a href="/">Home</a></li>
        <li id="item-2" class="nav-items"><a href="/">About</a></li>
        <li id="item-3" class="nav-items"><a href="/registration">Registration</a></li>
        <li id="item-4" class="nav-items"><a href="/login">Login</a></li>
    </ul>
    </nav>